@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Scrollbar CSS */
/* For webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  
  }
  
  ::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #718096;
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #1e1e1e;
  }